@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* colors based on tailwind's slate scale */
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --blue-200: #bfdbfe;
    --blue-400: #60a5fa;
    --blue-600: #2563eb;
    --blue-800: #1e40af;
}

.header, .trends, .announcements, .project {
    background-color: var(--slate-100);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--slate-300);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

h1, h2, h3, a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

img.profile-picture {
    border-radius: 50%;
}

img.profile-picture.small {
    width: 55px;
}

img.profile-picture.medium {
    width: 80px;
}

/*------ Header Grid ------*/
.header {
    display: grid;
    /* padding-top: 16px; */
    padding-left: 16px;
    padding-right: 16px;
    min-height: 160px;
    min-width: 920px;
    align-items: center;
    /* gap: 16px; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(50px, 75px));
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

.search-bar {
    display: grid;
    grid-column: 1 /2;
    grid-row: 1 /2;
}

.search-bar form {
    display: grid;
    align-items: start;
    gap: 8px;
    grid-template-columns: 40px 1fr ;
}

.search-bar label {
    justify-self: end;
}

.search-bar form input[type="submit"] {
    display: none;
}

.search-bar svg {
    height: 32px;
    fill: var(--slate-600);
    padding-top: 4px;
}

.search-bar > form > input[type="text"] {
    max-width: 900px;
    height: 2rem;
    border: none;
    border-radius: 50px;
    background-color: var(--slate-400);
    text-indent: 2rem;
    align-self: center;
    min-width: 410px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--slate-800);
}

.search-bar > form > input[type="text"]:focus {
    border: none;
    outline: none;
    background-color: var(--slate-300);
}

.search-bar > form > input[type="text"]:hover {
    background-color: var(--slate-300);
}

.user-info {
    display: grid;
    grid-template-columns: 50px 80px 200px;
    justify-content: end;
}

.user-info > .notifications, .user-info > .username {
    display: flex;
    align-items: center;
}

.user-info img.profile-picture {
    justify-self: center;
}

.user-info .notifications svg {
    width: 30px;
    fill: var(--slate-600);
}

.user-info .username {
    color: var(--slate-900);
    font-weight: 700;
    font-size: 1.6rem;
    justify-self: start;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.greeting img.profile-picture {
    justify-self: center;
}

.greeting-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 8px;
    color: var(--slate-900);
    font-weight: 700;
}

.greeting-text .username {
    font-size: 1.3rem;
}

.greeting-title {
    font-size: 1.1rem;
    align-self: end;
}

.actions {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, 120px);
    justify-content: end;
}

div.actions > button {
    font-weight: 800;
    border: none;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    background-color: var(--slate-500);
    color: var(--slate-200);
}

div.actions > button:hover {
    background-color: var(--slate-400);
    cursor: pointer;
}

/*------ Sidebar Grid ------*/
.sidebar {
    background-color: var(--slate-500);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 32px;
    min-width: 300px;
    color: var(--slate-300);
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 100px 320px 100px 3fr 5fr;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.navigation {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(6, 40px);
    gap: 16px;
}

div.logo > a,
div.navigation > div > a,
div.configurations > div > a {
    display: grid;
    align-items: center;
    grid-template-columns: 64px 1fr;
}

div.navigation svg,
div.configurations svg {
    justify-self: center;
}

.logo > a:hover *,
.navigation > div > a:hover *,
.configurations > div > a:hover * {
    fill: var(--slate-400);
    color: var(--slate-400);
}

div.logo svg {
    fill: var(--slate-300);
    width: 4em;
    align-items: end;
}

div.logo span {
    font-size: 2.5rem;
    font-weight: 500;
}

.navigation > div > a > svg,
.configurations > div > a > svg {
    fill: var(--slate-300);
    width: 2em;
}

.navigation > div > a > span,
.configurations > div > a > span {
    font-size: 2em;
}

.navigation > div > a:hover span,
.configurations > div > a:hover span {
    text-underline-offset: 8px;
    text-decoration: underline var(--slate-400) 2px;
}

.configurations {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 40px);
    grid-row-start: 4;
    gap: 16px;
}

/*------ Main Grid (Projects and Feeds [Announcements, Trending]) ------*/
.main {
    display: grid;
    padding-bottom: 5vh;
    padding-left: 2vw;
    gap: 16px;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px repeat(auto-fit, minmax(200px, 1fr));
}

.main > h2 {
    grid-column-start: 1;
    align-self: end;
}

/*------ Projects Grid ------*/
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    grid-row-start: 2;
    grid-column-start: 1;
}

.projects-container > h2 {
    margin-left: 8px;
    grid-column: 1 / 3;
    align-self: self-end;
}

.project {
    padding-left: 16px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
    min-height: 150px;
    min-width: 400px;
    max-width: 450px;
    max-height: 400px;
    border-radius: 10px;
    border-left: 12px var(--slate-500) solid;
    display: grid;
    grid-template-rows: 40px 2fr 2fr;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.project-title {
    padding-top: 24px;
    padding-bottom: 16px;
    color: var(--slate-900);
    font-weight: 600;
    font-size: 1.2rem;
    align-self: center;
}

.project-description {
    color: var(--slate-600);
    font-size: 1.2rem;
    padding-top: 16px;
    font-weight: 300;
    align-self: start;
}

.project-actions {
    justify-self: end;
    align-self: center;
}

.project-actions svg {
    width: 32px;
    fill: var(--slate-800);
    padding-left: 16px;
}


/*------ Feed Sub-Grid (Announcements and Trending) ------*/
.feed-container {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    grid-template-rows: repeat(2, 500px);
}

/*------ Announcements Grid ------*/
.announcements-container {
    display: grid;
    margin-right: 16px;
    margin-top: 14px;
    max-height: 500px;

    grid-template-rows: 50px 1fr;
}

.announcements-container h2 {
    padding-bottom: 8px;
    align-self: flex-end;
    color: var(--slate-900);
}

.announcements {
    display: grid;
    border-radius: 10px;
    padding: 16px;
    min-width: 250px;
    max-height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.announcement {
    padding: 16px;
    gap: 8px;
}

.announcement-title {
    color: var(--slate-900);
    font-weight: 600;
}

.announcement-title:hover{
    cursor: pointer;
}

.announcement-description {
    color: var(--slate-600);
}

.announcement-title:hover +
.announcement-description, .announcement-description:hover {
    cursor: pointer;
    text-decoration: underline;
}

.announcement:nth-child(-n + 2) {
    border-bottom: 1px solid var(--slate-300);
}

/*------ Trending Grid ------*/
.trending-container {
    display: grid;
    margin-right: 24px;
    margin-top: 24px;
    max-height: 550px;

    grid-template-rows: 50px 1fr;
}

.trending-container > h2 {
    align-self: center;
    padding-bottom: 8px;
    color: var(--slate-900);
}

.trends {
    border-radius: 10px;
    padding: 8px;
    min-width: 250px;
    display: grid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 8px;
    align-items: center;
    border-radius: 10px;
}

.trend:hover {
    cursor: pointer;
    background-color: var(--slate-200);
}

.trend-description {
    padding-left: 8px;
}

.trend-owner {
    color: var(--slate-900);
    font-weight: 500;
    padding-bottom: 4px;
}

.trend-project {
    color: var(--slate-500);
}